.card {
    border: 2px solid red;
    border-radius: 6%;
    width: 350px;
    display: inline-flex;
    margin: 20px;
    height: 550px;
    transition-duration: 0.5s;
    
}

.card:hover {
    transform: scale(1.2) translate(10px);
    z-index: 1;
}

.card-body {
    color: darkred;
}

img {
    height: 350px;
}