.flex-container {
    display:inline-flex;
    align-items: center;
}

.logo {
    height: 150px;
}

.card {
    border-radius: 6%;
    width: 250px;
    display: inline-flex;
    margin: 50px;
    height: 550px;
    transition-duration: 0.5s;
    font-family: Tahoma, sans-serif;
}

.card:hover {
    transform: scale(1.2) translate(10px);
    z-index: 1;
}

.card-body {
    color: Blue;
    flex: 1 1 auto;
}

img {
    height: 350px;
}

.title-header{
    color: rgb(57, 28, 225);
    margin-left: 20px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgb(225, 35, 243), -2px -2px 4px rgb(206, 241, 11);    ;
}

.event-header {
    letter-spacing: 2px;
    color:rgb(16, 4, 4);
    text-shadow: 2px 2px 4px rgb(243, 189, 28), -2px -2px 4px lightblue;    ;
}
.card-title {
    color: rgb(6, 19, 136);
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgb(243, 189, 28), -2px -2px 4px lightblue;    ;
}

.location {
    margin: 8px;
    color: brown;
}

.date, .time {
    margin: 5px;
    color: rgb(236, 4, 93);
}

.details {
    font-style: italic;
    text-decoration: none;
}